/* Color Theme Swatches in Hex */
$theme-color-1: #028C7E;
$theme-color-2: #63BF4A;
$theme-color-3: #F2CC0E;
$theme-color-4: #F27126;
$theme-color-5: #D84929;


//--------------


/* Color Theme Swatches in Hex */
// $theme-color-1: #400812;
// $theme-color-2: #BF495E;
// $theme-color-3: #026873;
// $theme-color-4: #038C8C;
// $theme-color-5: #C3D973;

.color-1 {
  color: $theme-color-1;
}
.color-2 {
  color: $theme-color-2;
}
.color-3 {
  color: $theme-color-3;
}
.color-4 {
  color: $theme-color-4;
}
.color-5 {
  color: $theme-color-5;
}

.bg-color-1 {
  background-color: $theme-color-1;
}
.bg-color-2 {
  background-color: $theme-color-2;
}
.bg-color-3 {
  background-color: $theme-color-3;
}
.bg-color-4 {
  background-color: $theme-color-4;
}
.bg-color-5 {
  background-color: $theme-color-5;
}